<div class="defaultlist_wrapper">

<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="fs/logo_ente.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Ciao sono un ente
			</p>
			<p class="textlist_content">
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Antani		
			
		</div>
		
		<div class="arrow_wrapper">
			<img src="img/but_go.png">
		</div>

	</div>
<!-- row item -->

<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="fs/logo_ente.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Ciao sono un ente
			</p>
			<p class="textlist_content">
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Antani		
			
		</div>
		
		<div class="arrow_wrapper">
			<img src="img/but_go.png">
		</div>

	</div>
<!-- row item -->

<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="fs/logo_ente.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Ciao sono un ente
			</p>
			<p class="textlist_content">
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Antani		
			
		</div>
		
		<div class="arrow_wrapper">
			<img src="img/but_go.png">
		</div>

	</div>
<!-- row item -->

<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="fs/logo_ente.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Ciao sono un ente
			</p>
			<p class="textlist_content">
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Antani		
			
		</div>
		
		<div class="arrow_wrapper">
			<img src="img/but_go.png">
		</div>

	</div>
<!-- row item -->

<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="fs/logo_ente.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Ciao sono un ente
			</p>
			<p class="textlist_content">
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Antani		
			
		</div>
		
		<div class="arrow_wrapper">
			<img src="img/but_go.png">
		</div>

	</div>
<!-- row item -->

<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="fs/logo_ente.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Ciao sono un ente
			</p>
			<p class="textlist_content">
				asd anatni ndnadodhaodhafsfsffsfdsafsdfasfa adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Antani		
			
		</div>
		
		<div class="arrow_wrapper">
			<img src="img/but_go.png">
		</div>

	</div>
<!-- row item -->
<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="fs/logo_ente.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Ciao sono un ente
			</p>
			<p class="textlist_content">
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. ultimo		
			
		</div>
		
		<div class="arrow_wrapper">
			<img src="img/but_go.png">
		</div>

	</div>
<!-- row item -->

</div>