<div class="defaultlist_wrapper">
<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="fs/logo_ente.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Nome ente
			</p>
			<p class="textlist_content">
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 					laboris nisi ut aliquip.Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
			
			
		</div>
	</div>
<!-- row item -->

<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="fs/logo_ente.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Nome ente
			</p>
			<p class="textlist_content">
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 					laboris nisi ut aliquip.Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
			
			
		</div>
	</div>
<!-- row item -->

<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="fs/logo_ente.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Nome ente
			</p>
			<p class="textlist_content">
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 					laboris nisi ut aliquip.Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
			
			
		</div>
	</div>
<!-- row item -->

<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="fs/logo_ente.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Nome ente
			</p>
			<p class="textlist_content">
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 					laboris nisi ut aliquip.Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
			
			
		</div>
	</div>
<!-- row item -->

<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="fs/logo_ente.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Nome ente
			</p>
			<p class="textlist_content">
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 					laboris nisi ut aliquip.Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
			
			
		</div>
	</div>
<!-- row item -->

<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="fs/logo_ente.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Nome ente
			</p>
			<p class="textlist_content">
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 					laboris nisi ut aliquip.Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
			
			
		</div>
	</div>
<!-- row item -->

<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="fs/logo_ente.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Nome ente
			</p>
			<p class="textlist_content">
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 					laboris nisi ut aliquip.Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
			
			
		</div>
	</div>
<!-- row item -->

<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="fs/logo_ente.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Nome ente
			</p>
			<p class="textlist_content">
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 					laboris nisi ut aliquip.Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
			
			
		</div>
	</div>
<!-- row item -->

<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="fs/logo_ente.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Nome ente
			</p>
			<p class="textlist_content">
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 					laboris nisi ut aliquip.Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
			
			
		</div>
	</div>
<!-- row item -->
</div>