<!-- row item -->
		<div class="eventlist_wrapper">
			<div class="eventlist_title">
				{{ titolo }}
			</div>
			<div class="eventlist_time">
				alle ore {{ time }}
			</div>
			
			<p class="eventlist_content">
				{{{ descrizione }}}	</p>
			<div class="symbols_wrapper">
			<div class="symbol ad_famiglia"></div>
			<div class="symbol ad_fisica"></div>
			<div class="symbol ad_qrcode"></div>
		</div>
			
		</div>
		
		<div class="event_arrow_wrapper">
			<img src="img/but_go.png">
		</div>
	</div>

	<!-- row item -->
