<!-- row item -->
<div class="row_wrapper" id="asi">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		ASI
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="cnr">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		CNR - ARTOV
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="enea">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		ENEA - Frascati
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="esa">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		ESA - ESRIN
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="inafiaps">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		INAF - IAPS
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="inafoar">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		INAF - OAR
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="infn">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		INFN - LNF
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="ingv">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		INGV
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="sapienza">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		Sapienza - Università di Roma
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="tor">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		Università degli studi di Roma - Tor Vergata
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="romatre">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		Università degli studi di Roma - Roma Tre
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="frascati">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		Comune di Frascati
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="regione">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		Regione Lazio
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="provincia">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		Provincia di Roma
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="grottaferrata">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		Comune di Grottaferrata
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="telethon">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		TELETHON
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="eta">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		Associazione Eta Carinae
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="tuscolana">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		Associazione tuscolana di astronomia
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="geco">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		G.Eco
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="accatagliato">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		Accatagliato 
		</p>					
	</div>
</div>
<!-- row item -->
<div class="row_wrapper" id="arte">
	<div class="textlist_wrapper_legenda">
		<p class="textlist_title">
		Associazione culturale Arte e Scienza
		</p>					
	</div>
</div>
<!-- row item -->