<!-- row item -->
	<div id="id_ente" class="row_wrapper">
		<div class="img_wrapper">
			<img src="img/reg_lazio.png">
		</div>
		<div class="textlist_wrapper">
			<p class="textlist_title">
				Ciao sono uno sponsor item
			</p>
			<p class="textlist_content">
				Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Prematura		
			
		</div>
		
		<div class="arrow_wrapper">
			<img src="img/but_go.png">
		</div>



</div>

<!-- row item -->