<div id="titlebar" class="frascatiscienze_top">
  <div id="title">
  </div>
  <div id="backbutton">
	  <img src="img/but_back.png">
  </div>
</div>
<div id="content">
</div>
<div id="navbar">
<div id="button_list">
	<div class="button_list_element" id="frascatiscienza"><img src="img/but_frasc_active.png"></div>
	<div class="button_list_element nonvisibile"><img src="img/but_frasc_inactive.png"></div>
	
	<div class="button_list_element nonvisibile" id="eventi"><img src="img/but_notte_active.png"></div>
	<div class="button_list_element "><img src="img/but_notte_inactive.png"></div>
	
	<div class="button_list_element nonvisibile" id="caccia"><img src="img/but_cacciates_active.png"></div>
	<div class="button_list_element"><img src="img/but_cacciates_inactive.png"></div>
	
	<div class="button_list_element" id="agenda"><img src="img/but_agenda_active.png"></div>
	<div class="button_list_element nonvisibile"><img src="img/but_agenda_inactive.png"></div>
	
	<div class="button_list_element nonvisibile"><img src="img/but_agenda_active.png"></div>
	
	
</div>
</div>
