<div class="eventi_ente">Vai agli eventi</div>
<div class="ente_sx">
	<div id="ente_sx_top" style= "background-image: url({{chisiamo.immagineCopertina}})">
<!-- 		<img class="ente_image" src="{{ chisiamo.immagineCopertina }}"/>
 -->		<div class="ente_link">
			Chi siamo e per cosa lavoriamo
		</div>
	</div>
	<div id="ente_sx_bottom" style= "background-image: url({{contatti.immagineCopertina}})">
		<!-- <img class="ente_image" src="{{ contatti.immagineCopertina }}"/> -->
		<div class="ente_link">
			Teniamoci in contatto
		</div>
	</div>
</div>
<div class="ente_dx">
	<div id="ente_dx_top" style= "background-image: url({{storia.immagineCopertina}})">
<!-- 		<img class="ente_image" src="{{ storia.immagineCopertina }}"/>
 -->		<div class="ente_link">
			La nostra storia
		</div>
	</div>
	<div id="ente_dx_bottom" style= "background-image: url({{miglioriamo.immagineCopertina}})">
<!-- 		<img class="ente_image" src="{{ miglioriamo.immagineCopertina }}"/>
 -->		<div class="ente_link">
			Per te
		</div>
	</div>
</div>
