	<div class="greybar">
		 Notte dei ricercatori
	</div>
	


<!-- borowse date item -->
<div class="sfoglia_wrapper">
	<div class="block_sfoglia">
		<div class="day_back"><img src="img/but_back_day.png"></div>
		<div class="date"> 25 SETTEMBRE</div>
		<div class="day_next"><img src="img/but_go.png"></div>
	</div>
</div>
<!-- borowse date item -->


<!-- row item -->
	<div class="event_row_wrapper">
		<div class="eventlist_wrapper">
			<div class="eventlist_title">
				titolo
			</div>
			<div class="eventlist_time">
				alle ore 0:00
			</div>
			
			<p class="eventlist_content">
				descrizione	</p>
			<div class="symbols_wrapper">
			<div class="symbol ad_famiglia"></div>
			<div class="symbol ad_fisica"></div>
			<div class="symbol ad_qrcode"></div>
		</div>
			
		</div>
		
		<div class="event_arrow_wrapper">
			<img src="img/but_go.png">
		</div>
	</div>

	</div>
	<!-- row item -->

<!-- row item -->
	<div class="event_row_wrapper">
		<div class="eventlist_wrapper">
			<div class="eventlist_title">
				titolo
			</div>
			<div class="eventlist_time">
				alle ore 0:00
			</div>
			
			<p class="eventlist_content">
				descrizione	</p>
			<div class="symbols_wrapper">
			<div class="symbol ad_famiglia"></div>
			<div class="symbol ad_fisica"></div>
			<div class="symbol ad_qrcode"></div>
		</div>
			
		</div>
		
		<div class="event_arrow_wrapper">
			<img src="img/but_go.png">
		</div>
	</div>

	</div>
	<!-- row item -->
	
	<!-- row item -->
	<div class="event_row_wrapper">
		<div class="eventlist_wrapper">
			<div class="eventlist_title">
				titolo
			</div>
			<div class="eventlist_time">
				alle ore 0:00
			</div>
			
			<p class="eventlist_content">
				descrizione	</p>
			<div class="symbols_wrapper">
			<div class="symbol ad_famiglia"></div>
			<div class="symbol ad_fisica"></div>
			<div class="symbol ad_qrcode"></div>
		</div>
			
		</div>
		
		<div class="event_arrow_wrapper">
			<img src="img/but_go.png">
		</div>
	</div>

	</div>
	<!-- row item -->
	
	
		<div class="greybar">
		 Altri eventi
	</div>
	
	
	
	<!-- row item -->
	<div class="event_row_wrapper">
		<div class="eventlist_wrapper">
			<div class="eventlist_title">
				titolo
			</div>
			<div class="eventlist_time">
				alle ore 0:00
			</div>
			
			<p class="eventlist_content">
				descrizione	</p>
			<div class="symbols_wrapper">
			<div class="symbol ad_famiglia"></div>
			<div class="symbol ad_fisica"></div>
			<div class="symbol ad_qrcode"></div>
		</div>
			
		</div>
		
		<div class="event_arrow_wrapper">
			<img src="img/but_go.png">
		</div>
	</div>

	</div>
	<!-- row item --><!-- row item -->
	<div class="event_row_wrapper">
		<div class="eventlist_wrapper">
			<div class="eventlist_title">
				titolo
			</div>
			<div class="eventlist_time">
				alle ore 0:00
			</div>
			
			<p class="eventlist_content">
				descrizione	</p>
			<div class="symbols_wrapper">
			<div class="symbol ad_famiglia"></div>
			<div class="symbol ad_fisica"></div>
			<div class="symbol ad_qrcode"></div>
		</div>
			
		</div>
		
		<div class="event_arrow_wrapper">
			<img src="img/but_go.png">
		</div>
	</div>

	</div>
	<!-- row item -->