{{#if immagine}}
	<div class="default_coverimage_block">
		<img src="{{ immagine }}">
	</div>
{{else}}
	{{#if video}}
	<div class="default_coverimage_block">
		<video>
		  <source src="{{ video }}" type="video/mp4">
		</video>
	</div>
	{{/if}}
{{/if}}	

	<div class="greybar">
		{{ titolo }}
	</div>
	
	
	<div class="caption_block">
		<div class="caption_content">
	<p> {{ descrizione }} </p>

	
	<div class="symbols_wrapper">
			<div class="symbol ad_famiglia"></div>
			<div class="symbol ad_fisica"></div>
			<div class="symbol ad_qrcode"></div>
		</div>
	
		</div>
</div>