<div class="default_wrapper">
	<div class="default_coverimage_block">
		<img src="fs/frascati_cover.jpg">
	</div>
	<div class="caption_block">
		<div class="caption_content">
	<h2>Lorem Ipsum Title</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas lacus ut dolor dictum, quis scelerisque magna dictum. Morbi ligula mi, rutrum eu rhoncus quis, egestas vitae ligula. Aliquam in elementum erat. Nullam sollicitudin hendrerit mauris, nec porttitor dolor tristique facilisis. Etiam commodo sollicitudin malesuada. Integer non venenatis risus. Morbi gravida luctus tellus non volutpat. Suspendisse ut ipsum a quam sodales volutpat vel in diam. Vestibulum convallis cursus lacus, at feugiat leo. Mauris imperdiet vulputate ligula, sed imperdiet velit sollicitudin eget. Proin sagittis, nisl nec consectetur gravida, est dui malesuada magna, ut semper orci nibh nec erat.</p>
	<p>Aliquam in elementum erat. Nullam sollicitudin hendrerit mauris, nec porttitor dolor tristique facilisis. Etiam commodo sollicitudin malesuada. Integer non venenatis risus.</p>
	<p>Morbi gravida luctus tellus non volutpat. Suspendisse ut ipsum a quam sodales volutpat.</p>
	
	<p>Aliquam in elementum erat. Nullam sollicitudin hendrerit mauris, nec porttitor dolor tristique facilisis. Etiam commodo sollicitudin malesuada. Integer non venenatis risus.</p>

	
	<div class="readmore" id="continua_frascati">
	<p>
		Continua
	</p>
	</div>
	
		</div>
</div>
<div id="cassetto" class="aperto">
	<div class="top_cass">
		<img src="img/eject.png"> <!-- pulsante apertura -->
	</div>
	<div class="elem_cass" id="enti">Enti</div>
	<div class="elem_cass" id="sponsor">Sponsor</div>
</div>