<div class="defaultlist_wrapper">

<h1>Legenda</h1>

<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_famiglia">
		</div>
		<div class="textlist_wrapper">
				<p class="textlist_title">
					Contenuti adatti a x
				</p>
				<p class="textlist_content">
					Lorem ipsum	
				
		</div>
	
	</div>
	
<!-- row item -->

<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_tutti">
		</div>
		<div class="textlist_wrapper">
				<p class="textlist_title">
					Contenuti adatti a x
				</p>
				<p class="textlist_content">
					Lorem ipsum	
				
		</div>
	
	</div>
	
<!-- row item -->

<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_ragazzi">
		</div>
		<div class="textlist_wrapper">
				<p class="textlist_title">
					Contenuti adatti a x
				</p>
				<p class="textlist_content">
					Lorem ipsum	
				
		</div>
	
	</div>
	
<!-- row item -->

<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_fisica">
		</div>
		<div class="textlist_wrapper">
				<p class="textlist_title">
					Contenuti adatti a x
				</p>
				<p class="textlist_content">
					Lorem ipsum	
				
		</div>
	
	</div>
	
<!-- row item -->

<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_astronomia">
		</div>
		<div class="textlist_wrapper">
				<p class="textlist_title">
					Contenuti adatti a x
				</p>
				<p class="textlist_content">
					Lorem ipsum	
				
		</div>
	
	</div>
	
<!-- row item -->

<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_biologia">
		</div>
		<div class="textlist_wrapper">
				<p class="textlist_title">
					Contenuti adatti a x
				</p>
				<p class="textlist_content">
					Lorem ipsum	
				
		</div>
	
	</div>
	
<!-- row item -->

<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_qrcode">
		</div>
		<div class="textlist_wrapper">
				<p class="textlist_title">
					Contenuti adatti a x
				</p>
				<p class="textlist_content">
					Lorem ipsum	
				
		</div>
	
	</div>
	
<!-- row item -->

	
</div>