{{#if immagine}}
	<div class="default_coverimage_block">
		<img src="{{ immagine }}">
	</div>
{{else}}
	{{#if video}}
	<div class="default_coverimage_block">
		<video>
		  <source src="{{ video }}" type="video/mp4">
		</video>
	</div>
	{{/if}}
{{/if}}	
		
	
	<div class="greybar">
		 Teniamoci in contatto
	</div>
		
	<div class="rss_wrapper">
	
	<div class="simple_element_row">
	<div class="simple_text_list">
		<h2>titolo</h2>
		<p>testo della voce d'agenda</p>
	</div>
	<div class="agenda_arrow_wrapper">
			<img src="img/but_go.png">
		</div>
</div>

<div class="simple_element_row">
	<div class="simple_text_list">
		<h2>titolo</h2>
		<p>testo della voce d'agenda</p>
	</div>
	<div class="agenda_arrow_wrapper">
			<img src="img/but_go.png">
		</div>
</div>
		
	</div>