<div id="wrapper_percorsi">
{{#each percorsi}}
    <div id="{{ __id }}" class="bubble_wrapper bubble{{@index}}">
        <img class="symbol_bubble_caption" src="{{ icona }}" onerror="ImgError(this);">
        <p class="bubble_caption">
            
            <span>
                {{ nome }}
            </span>
        </p>
    </div>
{{/each}}
    <div id="cacciaList" class="bubble_wrapper">
         <img class="symbol_bubble_caption" src="img/img_caccia.png" onerror="ImgError(this);">

        <p class="bubble_caption">
                       <span>
                Caccia al tesoro
            </span>
        </p>
    </div>
</div>