<div class="wrapper_domanda">

<div class="testo_domanda">
	<p>
		Come si chiamava la prima università per “farmacisti”?
	</p>
	
	
</div>

<div class="risposta" id="d0">Università di Farmacologia</div>
<div class="risposta" id="d1">Gilda degli Alchimisti</div>
<div class="risposta" id="d2">Università degli Aromatari</div>
<div class="risposta" id="d3">Università degli Speziali</div>


<div id="timer">
	<div id="clock">
		<img src="img/clock.gif"/>
	</div>
	<div id="counter">Il tuo tempo:
		<div id="clockText"></div></div>
	
</div>

</div>