	
		<!-- <img src="{{ imgfrascatiscienza }}" onerror="ImgError(this);"> -->
	<div class="backgr_buttons_home">
		<div class="half_button" id="enti">Enti</div>
		<div class="half_button" id="_eventi">Eventi</div>
	</div>	
		
	
	<div class="caption_block">
		<div class="caption_content">
			<p>
				{{ frascatiscienza }}
			</p>
			<div class="readmore" id="continua_frascati">
				
					Continua
				
			</div>
		</div>
	</div>
	<!-- 
	<div id="cassetto" class="chiuso">
		<div class="top_cass" id="pulsanteCassetto">
			<img src="img/eject.png">
			<!-- pulsante apertura -->
		<!--
		</div>
		<div class="elem_cass" id="enti">
			Partner
		</div>
		-->
		
<!--<div class="elem_cass" id="sponsor">
			Sponsor
		</div> -->
	</div>
