<div class="defaultlist_wrapper">
<div class="legenda_title">
Legenda
</div>
<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_giovani">
		</div>
		<div class="textlist_wrapper_legenda">
				<p class="textlist_title">
					GIOVANI
				</p>
				<p class="textlist_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae tortor at enim eleifend interdum. Sed.
				
		</div>
	
	</div>
	
<!-- row item -->

<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_pubblicogenerale">
		</div>
		<div class="textlist_wrapper_legenda">
				<p class="textlist_title">
					PUBBLICO GENERALE
				</p>
				<p class="textlist_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae tortor at enim eleifend interdum. Sed.
				
		</div>
	
	</div>
	
<!-- row item -->

<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_elementari">
		</div>
		<div class="textlist_wrapper_legenda">
				<p class="textlist_title">
					SCUOLE ELEMENTARI
				</p>
				<p class="textlist_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae tortor at enim eleifend interdum. Sed.
				
		</div>
	
	</div>
	
<!-- row item -->

<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_medie">
		</div>
		<div class="textlist_wrapper_legenda">
				<p class="textlist_title">
					SCUOLE MEDIE
				</p>
				<p class="textlist_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae tortor at enim eleifend interdum. Sed.
				
		</div>
	
	</div>
	
<!-- row item -->

<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_superiori">
		</div>
		<div class="textlist_wrapper_legenda">
				<p class="textlist_title">
					SCUOLE SUPERIORI				
					</p>
				<p class="textlist_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae tortor at enim eleifend interdum. Sed.
				
		</div>
	
	</div>
	
<!-- row item -->

<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_qrcode">
		</div>
		<div class="textlist_wrapper_legenda">
				<p class="textlist_title">
					QR CODE				
					</p>
				<p class="textlist_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae tortor at enim eleifend interdum. Sed.
				
		</div>
	
	</div>
	
<!-- row item -->

<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_aperitivi">
		</div>
		<div class="textlist_wrapper_legenda">
				<p class="textlist_title">
					APERITIVI SCIENTIFICI
				</p>
				<p class="textlist_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae tortor at enim eleifend interdum. Sed.
				
		</div>
	
	</div>
	
<!-- row item -->

<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_giochiscientifici">
		</div>
		<div class="textlist_wrapper_legenda">
				<p class="textlist_title">
					GIOCHI SCIENTIFICI
				</p>
				<p class="textlist_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae tortor at enim eleifend interdum. Sed.
				
		</div>
	
	</div>
	
<!-- row item -->

<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_laboratori">
		</div>
		<div class="textlist_wrapper_legenda">
				<p class="textlist_title">
					LABORATORI				
				</p>
				<p class="textlist_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae tortor at enim eleifend interdum. Sed.
				
		</div>
	
	</div>
	
<!-- row item -->

<!-- row item -->
	<div class="row_wrapper">
		<div class="symbol ad_seminari">
		</div>
		<div class="textlist_wrapper_legenda">
				<p class="textlist_title">
					SEMINARIO				
				</p>
				<p class="textlist_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae tortor at enim eleifend interdum. Sed.
				
		</div>
	
	</div>
	
<!-- row item -->

	
</div>