<div id="wrapper_ricerca">	
	<div class="ricerca_t1">
		Ricerca
	</div>
	<input id="keyword" name="keyword" type="text"/>
	
	<div class="ricerca_t2">
		Tag:
	</div>
	<select id="tag" class="tag">
	  <option value=""></option>
	  <option value="ciao2">ciao2</option>
	  <option value="ciao3">ciao3</option>
	</select>
	<img class="open_drop" src="img/open_drop.png">


<div class="ricerca_t2">
		Organizzato da:
	</div>
	<select id="organizzatore" class="organizzatore">
	  <option value=""></option>
	  <option value="ciao2">ciao2</option>
	  <option value="ciao3">ciao3</option>
	</select>
	<img class="open_drop" src="img/open_drop.png">
	
	
	<div class="ricerca_t2">
		Dal:
	</div>
	<div class="data_ricerca">
	<input id="da" name="a" type="date" />
	<img class="open_drop" src="img/open_drop.png">
	<div class="ricerca_t2">
		al:
	</div>
	<input id="a" name="a" type="date" />
	<img class="open_drop" src="img/open_drop.png">
	</div>

	<div id="ricerca_button" >Cerca</div>
	
</div>
	