<div class="eventi_ente">Vai agli eventi</div>
<div class="ente_sx">
	<div id="ente_sx_top" 
	{{#if chisiamo.immagineCopertina}}
		style= "background-image: url({{chisiamo.immagineCopertina}})"
	{{/if}}
	>
		<div class="ente_link">
			Chi siamo e per cosa lavoriamo
		</div>
	</div>
	<div id="ente_sx_bottom" 
	{{#if contatti.immagineCopertina}}
		style= "background-image: url({{contatti.immagineCopertina}})"
	{{/if}}
	>
		<div class="ente_link">
			Teniamoci in contatto
		</div>
	</div>
</div>
<div class="ente_dx">
	<div id="ente_dx_top" 
	{{#if storia.immagineCopertina}}
			style= "background-image: url({{storia.immagineCopertina}})"
	{{/if}}
	>
		<div class="ente_link">
			La nostra storia
		</div>
	</div>
	<div id="ente_dx_bottom" 
	{{#if miglioriamo.immagineCopertina}}
		style= "background-image: url({{miglioriamo.immagineCopertina}})"
	{{/if}}
	>
		<div class="ente_link">
			Per te
		</div>
	</div>
</div>
