RICERCA

<input id="keyword" name="keyword" type="text"/>

TAG
<select id="tag" class="tag">
  <option value=""></option>
  <option value="ciao2">ciao2</option>
  <option value="ciao3">ciao3</option>
</select>

ORGANIZZATO DA
<select id="organizzatore" class="organizzatore">
  <option value=""></option>
  <option value="ciao2">ciao2</option>
  <option value="ciao3">ciao3</option>
</select>

DA
<input id="da" name="a" type="date"/>

A
<input id="a" name="a" type="date"/>

<div id="ricerca_button">Cerca</div>
