<!-- {{#if video}}
	<div class="default_coverimage_block">
			<video controls>
			  <source src="{{ video }}" type="video/mp4">
			</video>
		</div>
{{else}}
	{{#if immagine}}
		<div class="default_coverimage_block">
		<img src="{{ immagine }}" onerror="ImgError(this);">
	</div>
	{{/if}}
{{/if}}	
		-->
	
	<!-- <div class="default_coverimage_block"> -->
	<div class="backgr_buttons_rss">
			<div class="half_button" id="tel">Telefono</div>
		<div class="half_button" id="mail">Email</div>
	</div>	
	<!--	</div> -->
	
	
	<div class="greybar">
		 Teniamoci in contatto
	</div>
		
	<div class="rss_wrapper" id="rss_container">
	
	</div>